:root {
  /* For cards etc */
  --main: hsl(230, 4%, 16%);
  --main-hover: hsl(230, 4%, 12%);
  --main-active: hsl(230, 4%, 8%);
  /* BG, FG and nav + footer */
  --bg: hsl(230, 4%, 24%);
  --bg-light: hsl(230, 4%, 28%);
  --bg-lighter: hsl(230, 4%, 32%);
  --fg: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  /* Accent colors */
  --accent: hsl(39, 100%, 65%);
  --accent-hover: hsl(39, 100%, 57%);
  --accent-active: hsl(39, 100%, 47%);
  --accent-logo: hsl(39, 100%, 50%);
  --accent-logo-shadow: hsla(39, 100%, 46%, 0.3);
  /* Input */
  --input: hsl(0, 0%, 10%);
  --input-text: hsl(0, 0%, 5%);
  --input-focus: hsl(0, 0%, 3%);
  /* Shadows */
  --shadow: hsla(0, 0%, 0%, 0.3);
  --box-shadow: 0 0.125rem 0.5rem var(--shadow);
  /* Border radius */
  --border-radius: 0.25rem;
  /* Font sizes */
  --font-small: 0.75rem;
  --font-small-2: 0.875rem;
  --font-small-3: 0.9rem;
  --font-medium: 1rem;
  --font-large: 1.25rem;
  --font-large-2: 1.5rem;
  --font-large-3: 2rem;
  --font-huge: 3rem;
  /* Font weights */
  --font-weight-thin: 100;
  --font-weight-thin-2: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-medium-2: 600;
  --font-weight-bold: 700;
  --font-weight-bold-2: 800;
  --font-weight-black: 900;
  /* Padding */
  --padding-small: 0.25rem;
  --padding-medium: 0.5rem;
  --padding-medium-2: 0.75rem;
  --padding-large: 1rem;
  --padding-large-2: 1.25rem;
  --padding-large-3: 1.5rem;
  --padding-huge: 2rem;
  /* Margin */
  --margin-small: 0.25rem;
  --margin-medium: 0.5rem;
  --margin-medium-2: 0.75rem;
  --margin-large: 1rem;
  --margin-large-2: 1.25rem;
  --margin-large-3: 1.5rem;
  --margin-large-2: 2rem;
}

body {
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: "Inter", sans-serif;
  -webkit-text-size-adjust: 100%;
  color-scheme: dark;
  /* Remove blue highlight on mobile devices */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100vh !important;
  height: 100vh !important;
  margin: 0;
  box-sizing: border-box;
  color: var(--fg);
  background: linear-gradient(var(--main), var(--bg));
  background-attachment: fixed;
}

h1,
p {
  font-size: var(--font-small-2);
  margin: 0;
}

#app {
  min-height: 100vh !important;
  height: 100vh !important;
}
.margin {
  margin-left: var(--margin-large-3) !important;
  margin-right: var(--margin-large-3)!important;
  padding-left: var(--padding-large) !important;
  padding-right: var(--padding-large)!important;
}

.error-404 {
  min-height: 100vh !important;
  gap: 1rem;
}

.error-404 h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-huge);

}

.error-404 p {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-medium);
}

.button {
  cursor: pointer;
  user-select: none;
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  font-size: var(--font-medium);
  font-weight: var(--font-weight-medium);
  border: none;
  background-color: var(--bg-lighter);
}

.back {
  width: fit-content !important;
}


/* ============= Modular classes ============  */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-start {
  justify-content: start;
  align-items: start;
}
.flex-center-start {
  justify-content: center;
  align-items: start;
}
.flex-seperate {
  justify-content: space-between;
  align-items: center;
}
.hidden {
  display:none;
}
/* ============= Modular classes ============  */

a {
  color: var(--accent);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: var(--accent-hover);
}

a:active {
  color: var(--accent-active);
}

/*  ================== Nav ================== */
#nav {
  position: sticky;
  background-color: var(--bg-light);
  color: var(--fg);
  padding: var(--padding-large);
  min-height: 2.5rem;
}
.nav-link-container {
  width: 100%;
  margin: 0 var(--margin-large-3) 0 var(--margin-large-3);
}
#logo {
  width: 3rem;
}
.nav-link {
  text-decoration: none;
  color: var(--fg);
  margin-right: var(--margin-large-2);
  font-weight: var(--font-weight-regular);
}
#profile {
  margin: 0 0 0 auto;
}
/*  ================== Nav END ================== */

/*  ================== Footer END ================== */
#footer {
  height: 7rem;
  background-color: var(--bg-light);
  color: var(--fg);
  padding: var(--padding-large);
  margin-top: var(--margin-large-2);
}

.footer-top {
}

.footer-bottom {
}
#footer div {
  width: 100%;
  gap: 1rem;
}

#logo-footer {
  width: 3rem !important;
}

#footer p {
  margin: 0;
  font-size: var(--font-small);
}

#footer img {
  width: 4rem;
}
/*  ================== Footer END ================== */

/*  ================== Home page ================== */
.homepage {
  margin-top: var(--margin-large-2);
  gap: 1rem;
}

.intro-container {
  max-width: 45rem;
}

.intro-container img {
  width: 10rem;
  /* height:8rem; */
}
.intro-container h1 {
  font-size: var(--font-huge);
  font-weight: var(--font-weight-black);
  margin: 0;
  color: var(--accent-logo);
  /* text-shadow: 0 0 0.75rem var(--accent-logo-shadow),
    0 0 0.75rem var(--accent-logo-shadow), 0 0 0.75rem var(--accent-logo-shadow),
    0 0 0.75rem var(--accent-logo-shadow); */
}

.intro-container p {
  margin: 0;
  padding: var(--padding-large);
  word-wrap: break-word;
  text-align: center;
}

.trending-list {
  flex-wrap: wrap;
  gap: 1rem;
}

.movie-card {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
  flex-direction: column;
  align-items: ce;
  width: 11rem;
  height: 22rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--main);
  padding: var(--padding-large);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.movie-card:hover {
  background-color: var(--main-hover);
  transform: scale(1.05);
}

.movie-card:active {
  background-color: var(--main-active);
  transform: scale(0.99);
}

.movie-card h2 {
  user-select: text;
  justify-content: center;
  align-items: center;
  font-size: var(--font-small-2);
  font-weight: var(--font-weight-regular);
  text-align: center;
  margin: 0;
  padding: var(--padding-medium) 0 var(--padding-medium) 0;
  color: var(--fg);
  vertical-align: middle;
}
.loading-skeleton {
  min-width: 10.875rem;
  width: 10.875rem;
  min-height: 16.5rem;
  height: 16.5rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-lighter);
  animation: loading 0.7s infinite alternate ease-in-out;
}
@keyframes loading {
  0% {
    background-color: var(--bg-lighter);
  }
  100% {
    background-color: var(--bg);
  }
}

.movie-poster {
  /* object-fit: contain; */
  min-width: 10.875rem;
  width: 10.875rem;
  min-height: 16.5rem;
  height: 16.5rem;
  border-radius: var(--border-radius);
}

.page-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: var(--margin-medium)
}

.page-buttons-container button {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-bold);
}
/*  ================== Home page END ================== */

/*  ================== SearchBar END ================== */
.searchBar {
  width: 45rem;
  padding: var(--padding-medium-2);
  margin-bottom: var(--margin-large-2);
  border-radius: var(--border-radius);
  background-color: var(--input);
  box-shadow: var(--box-shadow);
  gap: 0.5rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.searchBar--focused {
  width: 50rem;
}

.material-symbols-outlined {
  user-select: none;
  cursor: pointer;
  padding: var(--padding-small);
  color: var(--fg);
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}

input[name="inputSearchBar"] {
  caret-color: var(--fg);
  width: 100%;
  padding: var(--padding-medium-2);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-medium);
  margin: 0;
  background-color: var(--input-text);
  color: var(--fg);
}
input[name="inputSearchBar"]:focus {
  outline: none;
  background-color: var(--input-focus);
}
/*  ================== SearchBar END ================== */

/*  ================== Result ================== */
.result {
  gap: 1rem;
  margin: var(--margin-large);
}

.main-info {
  padding: var(--padding-large);
  gap: 1rem;
  background-color: var(--main);
  border-radius: var(--border-radius);
}

.content {
  border-radius: var(--border-radius);
  background-color: var(--main);
  border-radius: var(--border-radius);
  gap: 1rem;
}

.content img {
  user-select: none;
  min-width: 17.125rem;
  min-height: 25.688rem;
  height: fit-content;
  width: 17.125rem;
  border-radius: var(--border-radius);
}

.content-info {
  background-color: var(--bg-lighter);
  border-radius: var(--border-radius);
  padding: var(--padding-large-2);
  width: 100%;
  gap: 1rem;
  
}
.content-info h1 p {
  margin: 0 !important;
}
.content-info--title {
  font-weight:var(--font-weight-bold);
  font-size: var(--font-large-2);

}

.content-info--overview {
  font-weight:var(--font-weight-medium);
  font-size: var(--font-small-2);
}

.content-more-info {
  font-weight: var(--font-weight-light);
  gap: 1rem;
}

.content-more-info--primary {
  padding: var(--padding-medium);
  gap: 1rem;
}
.content-more-info--secondary {
  padding: var(--padding-medium);
  gap: 1rem;
}
.content-more-info--secondary div {
  gap: 1rem;
  height: 100%;
}



.list-buttons {
  gap: 1rem;
}

.list-buttons button {
  cursor: pointer;
  user-select: none;
  padding: var(--padding-large);
  border-radius: var(--border-radius);
  font-size: var(--font-medium);
  font-weight: var(--font-weight-medium);
  width: 100%;
  border: none;
  background-color: var(--bg-lighter);
}

.list-buttons button i {
  user-select: none;
  color: var(--fg);
}

.detailed-info {
  padding: var(--padding-large);
  background-color: var(--bg-lighter);
  border-radius: var(--border-radius);
  height: fit-content;
  gap: 1rem;
}

.detailed-info h1 {
  font-size: var(--font-medium);
  margin: 0;
}

.detailed-info p {
  font-size: var(--font-small-2);
  margin: 0;
}

.info-container {
  width: 100%;
  align-items: stretch !important;
  min-height: fit-content;
  /* Uncomment the row below for debugging */
  /* background-color: var(--bg); */
  gap: 1rem;
  border-radius: var(--border-radius);
}

.info-card {
  width: 100%;
  background-color: var(--main);
  padding: var(--padding-huge);
  border-radius: var(--border-radius);
  gap: 0.5rem;
}

.width-15 {
  width: 15rem !important;
}
.width-25 {
  width: 25rem !important;
}
.width-35 {
  width: 35rem !important;
}
.width-45 {
  width: 45rem !important;
}

.info-card p {
  flex-grow: 1;
}
.similar-list-container {
  width: 100%;
  gap: 1rem;
  margin-top: var(--margin-large-3)
}
.similar-list-container p {
  margin: 0;
  font-weight:var(--font-weight-bold);
  font-size: var(--font-large-3)
}
.similar-list {
  width: 100%;
  flex-wrap: wrap !important;
  gap: 1rem;
}
/*  ================== Result ================== */

/*  ================== Credentials ================== */
.top {
  margin-top: var(--margin-large-2);
  gap: 1rem;
}

.credentials-container {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
}
.credentials-container img {
  width: 10rem;
  height:8rem;
}
.credentials-container h1 {
  font-size: var(--font-huge);
  font-weight: var(--font-weight-black);
  margin: 0;
  padding: var(--padding-large);
}

.credentials-button-container {
  width: 100%;
}

.credentials-title {
  color: var(--fg);
  font-size: var(--font-large-3);
  margin-bottom: 0;
}

.credentials-subtitle {
  color: var(--fg);
  font-size: var(--font-medium);
  margin-bottom: var(--margin-large-2);
}

.credentials-form {
}

label {
  color: var(--fg);
  margin-bottom: var(--margin-medium);
}

input[name="credentials"] {
  caret-color: var(--fg);
  color: var(--fg);
  margin-bottom: var(--margin-large);
  padding: var(--padding-large);
  width: 16rem;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  background-color: var(--input);
}
input[name="credentials"]:hover {
  background-color: var(--input-text);
}

.credentials-submit-button {
  background-color: var(--main);
  outline: none;
  border: none;
  color: var(--fg);
  padding: var(--padding-large) var(--padding-large-2);
  cursor: pointer;
  margin-bottom: var(--margin-large);
  border-radius: var(--border-radius);
}
/*  ================== Credentials END ================== */
