/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  /* For cards etc */
  --hue: 230;
  --main: hsl(var(--hue), 4%, 15%);
  --main-hover: hsl(var(--hue), 4%, 10%);
  --main-active: hsl(var(--hue), 4%, 5%);
  /* BG, FG and nav + footer */
  --bg-darkest: hsl(var(--hue), 4%, 10%);
  --bg-darker: hsl(var(--hue), 4%, 15%);
  --bg-dark: hsl(var(--hue), 4%, 20%);
  --bg: hsl(var(--hue), 4%, 25%);
  --bg-light: hsl(var(--hue), 4%, 30%);
  --bg-lighter: hsl(var(--hue), 4%, 35%);
  --bg-lightest: hsl(var(--hue), 4%, 40%);
  --bg-lightest-2: hsl(var(--hue), 4%, 45%);
  --fg: hsl(0, 0%, 100%);
  --fg-secondary: hsl(0, 0%, 84%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --overlay: hsla(0, 0%, 0%, 0.5);
  /* Accent colors */
  --accent: hsl(39, 100%, 65%);
  --accent-hover: hsl(39, 100%, 55%);
  --accent-active: hsl(39, 100%, 45%);
  --accent-logo: hsl(39, 100%, 50%);
  --accent-logo-shadow: hsla(39, 100%, 45%, 0.3);
  --accent-good: hsl(115, 100%, 75%);
  --accent-bad: hsl(0, 100%, 75%);
  /* Input */
  --input: hsl(0, 0%, 10%);
  --input-text: hsl(0, 0%, 5%);
  --input-focus: hsl(0, 0%, 3%);
  /* Shadows */
  --shadow: hsla(0, 0%, 0%, 0.3);
  --box-shadow: 0 0.125rem 0.5rem var(--shadow);
  /* Cards and Poster */
  --content-card-width: 15rem;
  /* Border radius */
  --border-radius: 0.25rem;
  /* Font sizes */
  --font-small: 0.75rem;
  --font-small-2: 0.875rem;
  --font-small-3: 0.9rem;
  --font-medium: 1rem;
  --font-large: 1.25rem;
  --font-large-2: 1.5rem;
  --font-large-3: 2rem;
  --font-large-4: 2.25rem;
  --font-large-5: 2.5rem;
  --font-large-6: 2.75rem;
  --font-huge: 3rem;
  /* Font weights */
  --font-weight-thin: 100;
  --font-weight-thin-2: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-medium-2: 600;
  --font-weight-bold: 700;
  --font-weight-bold-2: 800;
  --font-weight-black: 900;
  /* Padding */
  --padding-small: 0.25rem;
  --padding-medium: 0.5rem;
  --padding-medium-2: 0.75rem;
  --padding-large: 1rem;
  --padding-large-2: 1.25rem;
  --padding-large-3: 1.5rem;
  --padding-large-4: 1.75rem;
  --padding-huge: 2rem;
  /* Margin */
  --margin-small: 0.25rem;
  --margin-medium: 0.5rem;
  --margin-medium-2: 0.75rem;
  --margin-large: 1rem;
  --margin-large-2: 1.25rem;
  --margin-large-3: 1.5rem;
  --margin-large-2: 2rem;
  /* Responsive sizes */
  --max-width: 1024px;
  --tablet-max-width: 768px;
  --mobile-max-width: 480px;
}

* {
  font-family: "Inter", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* will-change: transform; */
  /* -webkit-transform: translateX(0);
-moz-transform: translateX(0);
-ms-transform: translateX(0);
-o-transform: translateX(0);
transform: translateX(0); */
  word-break: break-word;
  overflow-wrap: break-word;
}

body {
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Inter", sans-serif !important;
  -webkit-text-size-adjust: 100%;
  color-scheme: dark;
  /* Remove blue highlight on mobile devices */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100vh !important;
  height: 100vh !important;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--fg);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--bg-dark)),
    to(var(--bg))
  );
  background: -o-linear-gradient(var(--bg-dark), var(--bg));
  background: linear-gradient(var(--bg-dark), var(--bg));
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-wrap: balance;
}

iframe {
  background-color: var(--bg) !important;
  border-radius: var(--border-radius);
}

#toast-notification {
  /* op-100 */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  opacity: 0;
  position: fixed;
  background-color: var(--main);
  width: fit-content;
  max-width: 100%;
  padding: var(--padding-large-3);
  bottom: 0;
  right: 0;
  margin: var(--margin-large);
  z-index: 9999;
  border-radius: var(--border-radius);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0.125rem 0.5rem var(--shadow);
}

.toast-notification-header {
  font-size: var(--font-large);
}
.toast-notification-text {
  font-size: var(--font-small-2);
}

.toast-notification-close {
  /* position: absolute !important; */
  /* top: 1rem;
  right: 0.75rem; */
  margin-left: 5rem !important;
  padding: var(--padding-medium);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.toast-notification-close:hover {
  background-color: var(--bg-lighter);
}

.toast-notification-close:hover {
  background-color: var(--bg-lightest);
}

h1,
h2,
h3 {
  margin: 0 !important;
  word-wrap: break-word;
}
p {
  font-size: var(--font-small-2);
  margin: 0 !important;
  word-wrap: break-word;
  text-align: justify;
  /* white-space: break-spaces !important; */
}

img {
  border: none !important;
  outline: none !important;
  border-radius: var(--border-radius);
  border-image-width: 0 !important;
}

#app {
  min-height: 100vh !important;
  height: 100vh !important;
}

.margin {
  margin-left: var(--margin-large-3) !important;
  margin-right: var(--margin-large-3) !important;
  padding-left: var(--padding-large) !important;
  padding-right: var(--padding-large) !important;
}
/* ============= Error page ============  */
.error-404 {
  min-height: 100vh !important;
}

.error-404 h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-huge);
}

.error-404 p {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-medium);
  text-align: center;
}
/* ============= Error page END ============  */

.button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  font-size: var(--font-medium);
  font-weight: var(--font-weight-medium);
  border: none;
  background-color: var(--bg-lighter);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.button:hover {
  background-color: var(--bg-lightest);
}

.button:active {
  background-color: var(--bg-lightest-2);
}

.back {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

/* ============= Modular classes ============  */
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.flex-center-start {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.flex-start-center {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-space-between-center {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-seperate {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.op-100 {
  opacity: 100 !important;
}

.gap-quarter {
  gap: 0.25rem !important;
}
.gap-half {
  gap: 0.5rem !important;
}
.gap-full {
  gap: 1rem !important;
}

.small-icon {
  width: 0.5rem !important;
  height: 0.5rem !important;
}

.w100 {
  width: 100vw !important;
  max-width: var(--max-width) !important;
}

.p-small {
  padding: var(--padding-small) !important;
}
.p-medium-2 {
  padding: var(--padding-medium-2) !important;
}
.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.m-small {
  margin: var(--margin-) !important;
}

.m-medium {
  margin: var(--margin-medium) !important;
}

.mt-large2 {
  margin-top: var(--margin-large-2) !important;
}

.w-full {
  width: 100% !important;
}

.pr-medium {
  padding-right: var(--padding-medium) !important;
}

.pl-medium {
  padding-left: var(--padding-medium) !important;
}

.fw-regular {
  font-weight: var(--font-weight-light) !important;
}

.nothing {
  background: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}
.gap-half-quarter {
  gap: 1.25rem !important;
}
.gap-half-double {
  gap: 1.5rem !important;
}
.gap-double {
  gap: 2rem !important;
}

.hidden {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  z-index: 1;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  padding: var(--padding-large);
  z-index: 2;
}
.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--padding-small);
  font-size: var(--font-large);
  font-weight: var(--font-weight-regular);
  color: var(--fg);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============= Modular classes ============  */

a {
  color: var(--accent);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: var(--accent-hover);
}

a:active {
  color: var(--accent-active);
}

/*  ================== Nav ================== */
#nav {
  position: sticky;
  /* background-color: var(--bg-light); */
  color: var(--fg);
  padding: var(--padding-large);
  min-height: 2.5rem;
  width: var(--max-overlay-width);
}
.nav-link-container {
  width: 100%;
  margin: 0 var(--margin-large-3) 0 var(--margin-large-3);
}
.nav-link-right {
  margin: 0 0 0 auto;
}
#logo {
  width: 3rem;
  height: 3rem;
}
.nav-link {
  text-decoration: none;
  color: var(--fg);
  font-weight: var(--font-weight-regular);
}
.nav-link-margin-right {
  margin-right: var(--margin-large-2);
}
#profile {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2rem;
  padding: var(--padding-small) var(--padding-medium) var(--padding-small)
    var(--padding-medium);
  border-radius: var(--border-radius);
  background-color: var(--bg-lighter);
}
/*  ================== Nav END ================== */

/*  ================== Footer END ================== */
#footer {
  color: var(--fg);
  padding: var(--padding-large);
  margin-top: var(--margin-large-3);
  margin-bottom: var(--margin-large-3);
  width: var(--max-overlay-width);
}

.footer-top {
  margin-top: var(--margin-large-3);
}

.footer-bottom {
  margin-bottom: var(--margin-large-3);
}
#footer div {
  width: 100%;
}

#logo-footer {
  width: 3rem !important;
}

#footer p {
  margin: 0;
  font-size: var(--font-small);
}

#footer img {
  width: 4rem;
  border-radius: 0 !important;
}
/*  ================== Footer END ================== */

/*  ================== Profile page ================== */

.profile-lists {
  width: 30rem;
}
.profile-list-card-container {
  width: 100%;
}
.profile-list-card {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  padding: var(--padding-large-4);
  width: 100%;
  text-align: center;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-large);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.profile-list-card:hover {
  background-color: var(--bg-lighter);
}

.profile-list-card:active {
  background-color: var(--bg-lightest);
}

.login-google {
  width: 2rem !important;
  height: 2rem !important;
  vertical-align: middle;
}

/*  ================== Profile page END ================== */

/*  ================== List page ================== */

.list-container {
  width: inherit;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list-container h1 {
  font-size: var(--font-medium);
}

.list-container p {
  font-size: var(--font-small-2);
}

.list-card-container {
  min-width: 45rem;
  min-height: 10rem;
}

.list-card {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  min-width: inherit;
  min-height: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--main);
  border-radius: var(--border-radius);
  padding: var(--padding-medium);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.list-card:hover {
  background-color: var(--main-hover);
}

.list-card:active {
  background-color: var(--main-active);
}

.list-card img {
  width: 7rem;
}
.list-card h1 {
  font-size: var(--font-large);
}
.list-card span {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  padding: var(--padding-medium);
}
.list-card-delete {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.list-card-delete:hover {
  background-color: var(--bg-lighter);
}

.list-card-delete:hover {
  background-color: var(--bg-lightest);
}

/*  ================== List page EMD ================== */

/*  ================== Home page ================== */
.homepage {
  margin-top: var(--margin-large-2);
}

.intro-container {
  width: 35rem;
  max-width: 35rem;
  margin: var(--margin-medium) 0 var(--margin-medium) 0;
}

.intro-container p {
  margin-top: 1rem !important;
}

.intro-container img {
  width: 10rem;
  /* height:8rem; */
}
.intro-container h1 {
  font-size: var(--font-huge);
  font-weight: var(--font-weight-black);
  margin: 0;
  color: var(--accent-logo);
  text-align: center;
  /* text-shadow: 0 0 0.75rem var(--accent-logo-shadow),
    0 0 0.75rem var(--accent-logo-shadow), 0 0 0.75rem var(--accent-logo-shadow),
    0 0 0.75rem var(--accent-logo-shadow); */
}

.trivia-container {
  width: inherit;
  max-width: inherit;
  margin: var(--margin-medium) 0 var(--margin-medium) 0;
  padding: var(--padding-large);
  word-wrap: break-word;
  text-align: center;
}

.trending-list {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content-card-dummy {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: var(--content-card-width) !important;
  height: auto;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  background-color: var(--main);
  padding: var(--padding-large);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.content-card {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  background-color: var(--main);
  padding: var(--padding-large);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.content-card:hover {
  background-color: var(--main-hover);
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
}

.content-card:active {
  background-color: var(--main-active);
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}

.content-card h2 {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: var(--font-medium);
  max-width: var(--content-card-width) !important;
  min-height: 2rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  font-weight: var(--font-weight-regular);
  text-align: center;
  margin: 0;
  color: var(--fg);
  vertical-align: middle;
}

.content-card-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: initial;
  padding: var(--padding-small);
  background-color: var(--bg-light);
  font-size: var(--font-small) !important;
}

.content-card-button:hover,
.content-card-button:active {
  background-color: var(--bg-light);
}

.loading-skeleton {
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  height: inherit;
  border-radius: var(--border-radius);
  background-color: inherit;
  -webkit-animation: loading 0.7s infinite alternate ease-in-out;
  animation: loading 0.7s infinite alternate ease-in-out;
}
@-webkit-keyframes loading {
  0% {
    background-color: var(--bg);
  }
  100% {
    background-color: var(--bg--lightest);
  }
}
@keyframes loading {
  0% {
    background-color: var(--bg);
  }
  100% {
    background-color: var(--bg--lightest);
  }
}

.content-poster {
  min-width: var(--content-card-width);
  width: var(--content-card-width);
  min-height: auto;
  height: auto;
  aspect-ratio: 2/3;
  border-radius: var(--border-radius) !important;
}

/* Container element / */

.carousel {
}

.carousel-title {
}

.splide {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: inherit !important;
  max-width: var(--max-width);
  gap: 1rem !important;
}

/* / Slide element / */
.splide__slide {
  height: 100%;
  /* width: fit-content; */
  /* gap: 1rem; */
}
.splide__track {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  padding: var(--padding-medium);
}
.splide__list {
  /* align-items: stretch !important; */
}

.splide__arrows {
}
.splide__arrow {
  background: var(--main) !important;
  border-radius: var(--border-radius) !important;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.splide__arrow:hover {
  background: var(--main-hover) !important;
}
.splide__arrow:active {
  background: var(--main-active) !important;
}
.splide__arrow:focus {
  outline: var(--white) !important;
  border: var(--white) !important;
}
.splide__arrow svg {
  fill: white !important;
}
.splide__arrow--next {
}

.splide__pagination {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  z-index: initial !important;
  top: initial !important;
  bottom: initial !important;
  left: initial !important;
  right: initial !important;
  width: 100% !important;
  gap: 0.25rem !important;
}
.splide__pagination__page {
  color: var(--fg-secondary) !important;
  display: inline !important;
  height: 0.5rem !important;
  width: 1rem !important;
  border-radius: var(--border-radius) !important;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}

/* / Arrow buttons / */
.splide__arrow {
  background-color: #000;
  color: #fff;
}

/* / Pagination dots */
.splidepaginationpage {
  background-color: #000;
}

/*  ================== Home page END ================== */

/*  ================== Search Results END ================== */
.search-results {
  margin-top: var(--margin-large-2);
}
/*  ================== Search Results END ================== */

/*  ================== SearchBar END ================== */
.searchBar {
  width: 35rem;
  border-radius: var(--border-radius);
  background-color: var(--input);
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.searchBar span {
  padding: var(--padding-medium);
}
.searchBar span:hover {
  background-color: var(--input-text);
}

.searchBar--focused {
  -webkit-box-shadow: 0 0 0 2px var(--white);
  box-shadow: 0 0 0 2px var(--white);
}

.material-symbols-rounded {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* cursor: pointer; */
  padding: var(--padding-small);
  color: var(--fg);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  border-radius: var(--border-radius);
}
.material-symbols-rounded-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48 !important;
}

input[name="inputSearchBar"] {
  caret-color: var(--fg);
  width: 100%;
  height: 1rem;
  padding: var(--padding-medium-2);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-medium);
  margin: 0;
  background-color: var(--input);
  color: var(--fg);
}
input[name="inputSearchBar"]:focus {
  outline: none;
}

select {
  outline: none !important;
  border: none !important;
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

select option {
  outline: none !important;
  border: none !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select option:focus {
  background-color: var(--bg) !important;
}
select option:hover {
  background-color: var(--bg) !important;
}

select option:checked {
  background-color: var(--bg);
}
div[aria-hidden="true"] {
  margin: 0 !important;
}

.selectButton {
  background-color: inherit;
  font-size: inherit;
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  text-align: center;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.selectButton:hover {
  background-color: var(--main-active);
}

.verticalBar {
  width: 0.15rem;
  border-radius: var(--border-radius);
  height: 1.5rem;
  background-color: var(--fg-secondary);
  margin: 0 var(--margin-medium);
}

.seperator {
  width: 100%;
  padding: var(--padding-large);
}

.seperator p {
  width: 100%;
  text-align: center;
}

.horizontal-bar {
  width: 100%;
  border-radius: var(--border-radius);
  height: 0.15rem;
  background-color: var(--fg-secondary);
  margin: 0 var(--margin-medium);
}

/*  ================== SearchBar END ================== */

/*  ================== Result ================== */
.result {
  width: var(--max-width);
  max-width: var(--max-width);
  margin: var(--margin-large-2);
}

.result-main-info {
  padding: var(--padding-large);
  max-width: var(--max-width);
  background-color: var(--bg-darker);
  border-radius: var(--border-radius);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  z-index: -1 !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  -webkit-filter: brightness(0.75);
  filter: brightness(0.75);
  /* filter: blur(2rem) !important; */
  -webkit-transform: translate3d(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
}
.result-content {
  border-radius: var(--border-radius);
}

.result-content-poster {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 30rem;
  min-width: 17.125rem;
  width: 20rem;
  aspect-ratio: 2/3;
  border-radius: var(--border-radius);
  background-color: var(--bg-lighter);
}

.result-content-info {
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  padding: var(--padding-huge);
  width: 100%;
  max-width: var(--max-width);
}

.result-content-info h1 p {
  margin: 0 !important;
}
.result-content-info h1 {
  margin: 0 !important;
}
.result-content-info p {
  margin: 0 !important;
}
.result-content-info--top {
}

.result-content-info--top button {
  background-color: var(--bg-light) !important;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.result-content-info--top button:hover {
  background-color: var(--bg-lightest) !important;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.result-content-info--top h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-large-4);
  line-height: 1.25;
}

.result-content-info--details p {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-small-2);
  color: var(--fg-secondary);
}

.result-content-info--details span {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-small);
  color: var(--fg-secondary);
}

.result-content-info--overview {
  max-width: inherit;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-small-3);
}

.result-content-more-info {
  font-weight: var(--font-weight-light);
}

.result-content-more-info--primary {
}
.result-content-more-info--primary div {
  background-color: var(--bg) !important;
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-small-2);
}

.rating {
  padding-right: var(--padding-medium) !important;
}

.rating-count {
  color: var(--fg-secondary);
  font-size: var(--font-small);
}

.result-content-more-info--secondary {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.result-content-more-info--secondary div {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.result-content-more-info--secondary button {
  cursor: initial !important;
  background-color: var(--bg-lightest-2) !important;
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-small-2);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.result-content-more-info--secondary button:hover {
  background-color: var(--bg-lightest) !important;
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-small-2);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.list-buttons button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: var(--padding-large);
  border-radius: var(--border-radius);
  font-size: var(--font-medium);
  font-weight: var(--font-weight-medium);
  width: 100%;
  border: none;
  background-color: var(--bg-light);
}

.list-buttons button h1 {
  font-size: var(--font-large);
  font-weight: var(--font-weight-medium);
}
.list-buttons button i {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--fg);
}
.video-player-container {
  max-width: var(--max-width) !important;
  padding: var(--padding-large);
  background-color: var(--bg-dark);
  border-radius: var(--border-radius);
}

.contentVideoPlayer {
  width: 100%;
  max-width: inherit;
  height: 30rem;
  border-radius: var(--border-radius);
}

.detailed-info {
  padding: var(--padding-large);
  background-color: var(--bg-dark);
  border-radius: var(--border-radius);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.detailed-info h1 {
  font-size: var(--font-medium);
  margin: 0;
}

.detailed-info p {
  font-size: var(--font-small-2);
  margin: 0;
}

.info-container {
  width: 100%;
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  /* Uncomment the row below for debugging */
  /* background-color: var(--bg); */
  border-radius: var(--border-radius);
}

.info-card {
  width: 100%;
  background-color: var(--main);
  padding: var(--padding-huge);
  border-radius: var(--border-radius);
}

.info-card h1 {
  font-size: var(--font-large);
}

.info-card p {
  font-size: var(--font-medium);
  margin: 0;
  line-height: 1.35;
}
.info-card span {
  font-size: var(--font-large);
  margin: 0;
}

.revenue-positive {
  color: var(--accent-good);
}
.revenue-negative {
  color: var(--accent-bad);
}

.width-15 {
  width: 15rem !important;
}
.width-25 {
  width: 25rem !important;
}
.width-35 {
  width: 35rem !important;
}
.width-45 {
  width: 45rem !important;
}

.info-card h1 {
  font-weight: var(--font-weight-bold);
}
.info-card p {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.similar-list-container {
  width: inherit;
  margin-top: var(--margin-large-3);
}
.similar-list-container p {
  margin: 0;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-large-3);
}
.similar-list {
  width: inherit;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.reviews {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.review-card {
  background-color: var(--bg-dark);
  padding: var(--padding-large-3);
  border-radius: var(--border-radius);
  width: 100%;
}
.review-card p {
  text-align: justify;
}

.review-card-content {
  white-space: break-spaces !important;
}
.review-card img {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);
}
.review-card-author {
  padding-top: var(--padding-medium);
  padding-bottom: var(--padding-medium);
}
.review-card-rating {
  vertical-align: middle;
}
.review-card-rating p {
  line-height: 0;
  vertical-align: middle;
  font-size: var(--font-large);
}
.review-card-rating span {
  line-height: 0;
  vertical-align: middle;
  font-size: var(--font-large);
}

.review-card-date {
  color: var(--fg-secondary) !important;
  font-size: var(--font-small-2) !important;
  border-radius: var(--border-radius);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 !important;
}

.fixed-button {
  padding-left: var(--padding-medium) !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-secondary {
  font-size: var(--font-small-2) !important;
}

.credits {
  width: 100%;
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.cast-card {
  /* min-width: 14rem; */
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  background-color: var(--bg-dark);
}

.cast-card img {
  height: 15rem;
  aspect-ratio: 2/3;
  border-radius: var(--border-radius);
}

.cast-card h1 {
  text-align: center;
  font-size: var(--font-small-3) !important;
}

.cast-card p {
  text-align: center;
  font-size: var(--font-small) !important;
  color: var(--fg-secondary) !important;
}

/*  ================== Result ================== */

/*  ================== Credentials ================== */
.credentials-error-message {
  color: var(--accent-bad);
}

.credentials-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.credentials-container img {
  width: 10rem;
  height: 8rem;
}
.credentials-container h1 {
  font-size: var(--font-huge);
  font-weight: var(--font-weight-black);
  margin: 0;
  padding: var(--padding-large);
}

.credentials-button-container {
  width: 100%;
}

.credentials-button-container div {
  width: 100%;
}

.credentials-title {
  color: var(--fg);
  font-size: var(--font-large-3);
  margin-bottom: 0;
}

.credentials-subtitle {
  color: var(--fg);
  font-size: var(--font-medium);
  margin-bottom: var(--margin-large-2);
}

.credentials-form {
  width: 100% !important;
}

.credentials-form label {
  margin-bottom: var(--margin-medium);
}

input[name="credentials"] {
  caret-color: var(--fg);
  color: var(--fg);
  margin-bottom: var(--margin-large);
  padding: var(--padding-large);
  width: 16rem;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  background-color: var(--input);
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
input[name="credentials"]:hover {
  background-color: var(--input-text);
}

input[name="credentials"]:focus {
  background-color: var(--input-text);
  -webkit-box-shadow: 0 0 0 2px var(--white);
  box-shadow: 0 0 0 2px var(--white);
}

.credentials-submit-button {
  background-color: var(--main);
  outline: none;
  border: none;
  color: var(--fg);
  padding: var(--padding-large) var(--padding-large-2);
  cursor: pointer;
  border-radius: var(--border-radius);
}

.credentials-login-google-button {
  padding: var(--padding-medium-2) !important;
}

.credentials-submit-button:hover {
  background-color: var(--main-hover) !important;
}

.credentials-submit-button:active {
  background-color: var(--main-active) !important;
}
/*  ================== Credentials END ================== */

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  /* Styles for screens larger than 1024px (Desktop) */
}

@media only screen and (max-width: 475px) {
  :root {
    --max-width: 475px !important;
  }
  #app {
    width: 100vw !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
    height: 100vh !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
  }
  .searchBar {
    width: 100% !important;
  }
  .searchBar span {
    font-size: 1.25rem !important;
  }
  .verticalBar {
    margin: 0 !important;
  }
  .nav-link-right a {
    font-size: var(--font-small) !important;
    padding: var(--padding-small) var(--padding-medium) !important;
    min-width: min-content !important;
    width: 100% !important;
    max-width: max-content !important;
    gap: 0.25rem !important;
  }
  input[name="inputSearchBar"] {
    padding: 0 !important;
  }
  .selectButton {
    padding: 0 !important;
  }
  .nav-link-container {
    padding: var(--padding-medium-2) !important;
    margin: 0 !important;
  }
  .nav-link-container img {
    width: 2rem !important;
  }
  #logo {
    width: auto !important;
    height: auto !important;
  }
  .content-card {
    padding: var(--padding-medium) !important;
    gap: 0.25rem !important;
    max-width: 10rem !important;
  }
  .content-card img {
    --content-card-width: 9rem !important;
  }
  .loading-skeleton {
    --content-card-width: 9rem !important;
  }
  .carousel {
    width: 100vw !important;
    max-width: 100vw !important;
    padding: var(--padding-medium-2) !important;
  }
  .splide {
    width: 100% !important;
    max-width: 100% !important;
  }
  .splide__list {
    width: 100vw !important;
    max-width: 100vw !important;
  }
  .carousel-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: var(--font-small-2) !important;
  }
  .carousel-title h1 {
    text-align: center !important;
  }
  .homepage {
    padding: var(--padding-small) !important;
  }
  .intro-container {
    width: 100% !important;
    max-width: var(--max-width) !important;
    padding: var(--padding-medium-2) !important;
  }
  .intro-container p {
    margin-top: 1rem !important;
  }
  #toast-notification {
    padding: var(--padding-medium-2) !important;
  }
  #footer {
    max-width: var(--max-width) !important;
    padding: var(--padding-medium-2) !important;
  }
  .footer-bottom {
    max-width: 75% !important;
  }
  .footer-bottom div {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.5rem !important;
  }
  .footer-bottom p {
    text-align: center !important;
  }
  #nav {
    padding: var(--padding-small) !important;
  }
  .margin {
    margin: 0 !important;
    padding: 0 !important;
  }
  .result {
    padding: var(--padding-medium-2) !important;
    width: 100% !important;
    max-width: 100vw !important;
    margin: 0 !important;
  }
  .result-content {
    flex-direction: column !important;
  }
  .result-main-info {
    padding: var(--padding-medium-2) !important;
  }
  .result-content-poster {
    max-width: var(--max-width) !important;
    min-width: auto !important;
    width: 100% !important;
  }
  .result-content-info {
    padding: var(--padding-large) !important;
    gap: 1.5rem !important;
    min-height: 300px !important;
  }
  .result-content-info h1 {
    font-size: var(--font-large) !important;
  }
  .result-content-info--details {
    flex-wrap: wrap !important;
  }
  .result-content-more-info {
    gap: 1.5rem !important;
  }

  .result-content-more-info--secondary button {
    flex-grow: 1;
  }
  .list-buttons {
    display: grid;
    gap: 0.75rem !important;
    grid-template-columns: 1fr 1fr;
  }
  .list-buttons button {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
  .list-buttons span {
    display: flex;
    text-align: center !important;
    width: 100% !important;
    max-width: 24px !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .video-player-container {
    padding: var(--padding-medium-2) !important;
  }
  .detailed-info {
    padding: var(--padding-medium-2) !important;
  }
  .info-card {
    padding: var(--padding-large-2) !important;
  }
  .cast-card {
    padding: var(--padding-small) !important;
  }

  .cast-card h1 {
    font-size: var(--font-small) !important;
  }
  .cast-card p {
    font-size: 0.75rem !important;
  }
  .reviews {
    padding: var(--padding-medium-2) !important;
  }
  .review-card {
    padding: var(--padding-large) !important;
  }
  .review-card h1 {
    font-size: var(--font-small-2) !important;
  }
  .review-card p {
    font-size: var(--font-small) !important;
  }
  .review-card-rating {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .review-card-rating p {
    line-height: 1;
    width: fit-content !important;
    min-width: max-content !important;
    font-size: 0.75rem !important;
    vertical-align: center;
  }
  .profile-lists {
    width: 100%;
  }
  .list-container {
    gap: 1rem !important;
    padding: var(--padding-medium-2) !important;
  }
  .list-card-container {
    min-width: 100%;
    min-height: fit-content !important;
    max-height: fit-content !important;
  }
  .list-card-container img {
    width: 3rem !important;
  }
  .list-card {
    height: fit-content !important;
    min-height: 4rem !important;
  }
  .list-card h1 {
    font-size: var(--font-medium) !important;
    max-width: 10rem !important;
  }
}
